body {
  margin: 0;
  padding: 0;
  background-color: #151d32;
  background-image:  linear-gradient(90deg, rgba(21, 29, 50, 0.9), rgba(74, 102, 175, 0.7));
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
}
  /* https://cssgrid-generator.netlify.com/ */
  .container_index { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 2px; 
    color: #B9B9B9;
    text-align: center;
    }
    .index_row_1 { grid-area: 1 / 1 / 2 / 2; } 
    .index_row_2 { grid-area: 2 / 1 / 3 / 2; } 
    .index_row_3 { grid-area: 3 / 1 / 4 / 2; } 
    .index_row_4 { grid-area: 4 / 1 / 5 / 2; } 
    .index_row_5 { grid-area: 5 / 1 / 6 / 2; } 
/* end grid generator */
.body-portfolio { /*experimenting with media queries */
  margin: 0;
  padding: 0;
  background-color: #151d32;
  background-image:  linear-gradient(90deg, rgba(21, 29, 50, 0.9), rgba(74, 102, 175, 0.7));
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
  font-size: 60%;
}
.container_portfolio {
  width: 96rem;
  margin: 2rem auto;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(3, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 2px; 
  }
  .portfolio_row_1 {
    grid-area: 1 / 1 / 2 / 2;

  }
.h1-portfolio {
  font-weight: 400;
  text-align: center;
  font-size: 3em;
}
/* alternate nav bar - problems with hamburger on portfolio page 
.nav-nohamburger {
  margin: auto;
  text-align: center;
}
.ul-nav {
  overflow: auto;
    list-style-type: none;
    white-space: nowrap;
    display: block;
}
.li-nav {
  height: 25px;
  margin-right: auto;
  display: inline-block;
  border-right: 1px solid #aaa;
  font-size: 1.7em;
  padding: 0 20px;
}
.li-nav:last-child {
  border-right: none;
}*/
.hr-portfolio {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(236, 113, 12, 0.26);
}
.portfolio_gallery-item {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all .3s;
  overflow: hidden;
  position: relative;
}

.portfolio_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(150px, auto);
}

.portfolio_image { 
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.portfolio_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio_gallery-item:hover .portfolio_image {
  filter: grayscale(1);
}

.portfolio_gallery-item:hover .portfolio_middle {
  opacity: 1;
}

.portfolio_gallery-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.portfolio_text {
  color: white;
  font-size: 2.5em;
  padding: 16px 32px;
}

.container_cv {
  /* cssgrid-generator.netlify.com */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  align-items: start;
  text-align: center;
  /*border-radius: 5px;
  border-top: 1px solid rgba(236, 113, 12, 0.26);
  border-left: 1px solid rgba(236, 113, 12, 0.26);
  */
}
.cv_left_1 { grid-area: 1 / 1 / 2 / 2; }
.cv_left_2 { grid-area: 2 / 1 / 3 / 2; }
.cv_left_3 { grid-area: 3 / 1 / 4 / 2; }
.cv_left_4 { grid-area: 4 / 1 / 5 / 2; }
.cv_left_5 { grid-area: 5 / 1 / 6 / 2; }
.cv_center_1 { grid-area: 1 / 2 / 2 / 3; }
.cv_center_2 { grid-area: 2 / 2 / 3 / 3; max-height: 150px;}
.cv_center_3 { grid-area: 3 / 2 / 4 / 3; }
.cv_center_4 { grid-area: 4 / 2 / 5 / 3; }
.cv_center_5 { grid-area: 5 / 2 / 6 / 3; }
.cv_right_1 { grid-area: 1 / 3 / 2 / 4; }
.cv_right_2 { grid-area: 2 / 3 / 3 / 4; }
.cv_right_3 { grid-area: 3 / 3 / 4 / 4; }
.cv_right_4 { grid-area: 4 / 3 / 5 / 4; }
.cv_right_5 { grid-area: 5 / 3 / 6 / 4; }

.h1-cv {
  font-weight: 400;
  font-size: 2em;
}
.h2-cv {
  font-weight: 300;
  font-size: 1.5em;
}
.cv_text {
  font-size: 1em;
  text-align: left;
}
.container_contact {
  /* modified from container_index above */
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(5, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 2px; 
  color: #B9B9B9;
  text-align: center;
  }
  /* modified from https://codepen.io/movntains/pen/jpvyMJ */
  .h1-contact{
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .contact_form {
    box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
  }
  .contact_form > * {
    padding: 1em;
  }
  .company-info {
    background: /*rgb(21, 38, 94)*/#3d445c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact_me {
  background: /*rgb(15, 30, 80)*/#0a1d32;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ul_form {
  list-style-type: none;
}
.contact_me form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact_me form label {
  display: block;
}

.contact_me form p {
  margin: 0;
}

.contact_me form .full {
  grid-column: 1 / 3;
}

.contact_me form button,
.contact_me form input,
.contact_me form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact_me form textarea {
  resize: none;
}

.contact_me form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.contact_me form button:hover,
.contact_me form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}
/* end codepen */
  .contact_row_1 { grid-area: 1 / 1 / 2 / 2; } 
  .contact_row_2 { grid-area: 2 / 1 / 3 / 2; } 
  .contact_row_3 { grid-area: 3 / 1 / 4 / 2; } 
  .contact_row_4 { grid-area: 4 / 1 / 5 / 2; } 
  .contact_row_5 { grid-area: 5 / 1 / 6 / 2; } 
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 * https://codepen.io/erikterwan/details/EVzeRP 
*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: aqua;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #666666;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute; /* cant change - menu not clickable if you do */
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #151D32;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 1.2em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
    header h1 {
      color: #BFBFBF;
      font-family: 'Big Shoulders Text', cursive;
      letter-spacing: 0.1em;
    }
/* link/url styling */
a {
  text-decoration: none;
  color: aqua;
  text-transform: lowercase;
  transition: all 0.5s ease;
}

a:hover {
  color: #666;
}

.active a {
  font-weight: bold;
  color: aquamarine;
}
header {
    color: #BFBFBF;
    font-family: 'Big Shoulders Text', cursive;
    justify-content: center;
    letter-spacing: 0.1em;
}
.center {
  text-align: center;
}
/*end */
/* class for profile pictures */
.profile {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    margin: auto;
}
/* week 2 - image grayscale on hover */
.profile:hover {
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
}
/* end */
nav {
    margin-left: auto;
    margin-right: auto;
 }
  a {
    text-decoration: none;
    color: aqua;
    text-transform: lowercase;
    transition: all 0.5s ease;
  }
 
  a:hover {
    color: #666;
  }

  .active {
    font-weight: bold;
    color: aquamarine;
  }
  /* End W5 code block */
  .index_main {
    text-align: center;
}

.footer {
  text-align: center;  
}/* media queries for responsive design */
@media (min-width:150px) and (max-width:499px) {
  .body-index, .body-contact, .body-cv {
    font-size: 0.7em;
    max-width:50%;
  }
  .container_cv {
    max-height: 500px
  }
  h1 {
    font-size: 1.2em;
  }
}
@media (min-width:500px) {
  .body-index, .body-contact, .body-cv {
    font-size: 0.9em;
    max-width:80%;
    max-height: 40%;
  }
  .container_cv {
    max-height: 800px;
  }
  h1 {
    font-size: 1.5em;
  }
}
@media (min-width:900px){
 .body-index, .body-contact, .body-cv {
   font-size: 1em;
   max-width:100%;
 }
 .container_cv {
   max-height: 100%;
 }
  h1 {
    font-size: 1.7em;
  }
}
/* media query from CSS Grid class challenge, modified 'slightly' */
@media (max-width: 400px) {
  .portfolio_gallery-item, .body-portfolio {
      max-width: 10%;
      grid-column: 1;
      text-align: left;
  }
  .container_portfolio, h1.h1-portfolio {
      text-align: left;
      margin-left: 2em;
  }
  nav.nav-nohamburger {
    text-align: left;
    font-size: 0.9em;
  }

  .portfolio_text {
      font-size: 1.5em;
  }
  .container_contact {
    max-height: 300px;
  }
  .footer {
    text-align: left;
  }
}
@media (max-width:799px) and (min-width:401px) {
  .portfolio_gallery-item, .body-portfolio {
    max-width: 20%;
    grid-column: 2;
    text-align: left;
  }
  .container_portfolio, h1.h1-portfolio {
    text-align: left;
    margin-left: 2em;
}
.container_contact {
  max-height: 300px;
}
nav.nav-nohamburger {
  text-align: left;
  font-size: 0.9em;
}

.portfolio_text {
    font-size: 2.5em;
}
.footer {
  text-align: left;
}
}
@media (min-width:800px) and (max-width:1000px){
  .portfolio_gallery-item, .body-portfolio {
    max-width: 40%;
    grid-column: 2;
    text-align: left;
  }
  .container_portfolio, h1.h1-portfolio {
    text-align: left;
    margin-left: 2em;
}
nav.nav-nohamburger {
  text-align: left;
  font-size: 0.9em;
}

.portfolio_text {
    font-size: 2.5em;
}
.container_contact {
  max-height: 300px;
}
.contact_form {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact_form > * {
  padding: 2em;
}

.company-info {
  border-radius: 4px 0 0 4px;
}

.contact {
  border-radius: 0 4px 4px 0;
}

.company-info h3,
.company-info ul,
.brand {
  text-align: left;
}
.footer {
  text-align: left;
}
}
@media (min-width:1001px) {
  .container_contact {
    max-height: 400px;
  }
  .contact_form {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .contact_form > * {
    padding: 2em;
  }
  
  .company-info {
    border-radius: 4px 0 0 4px;
  }
  
  .contact {
    border-radius: 0 4px 4px 0;
  }
  
  .company-info h3,
  .company-info ul,
  .h1-contact {
    text-align: left;
  }
}