/* experiment with per-page customisations  - didnt help */
.body-index
{
  margin: 0;
  padding: 0;
  background-color: #151d32;
  background-image:  url("http://timireland.uk/images/back.gif");
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
}
  /* https://cssgrid-generator.netlify.com/ */
  .container_index { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 2px; 
    color: #B9B9B9;
    text-align: center;
    }
    .index_row_1 { grid-area: 1 / 1 / 2 / 2; } 
    .index_row_2 { grid-area: 2 / 1 / 3 / 2; } 
    .index_row_3 { grid-area: 3 / 1 / 4 / 2; } 
    .index_row_4 { grid-area: 4 / 1 / 5 / 2; } 
    .index_row_5 { grid-area: 5 / 1 / 6 / 2; } 
/* end grid generator */
.body-portfolio { /*experimental - allow for separate "containers" and "body" on a per-page basis */
  margin: 0;
  padding: 0;
  background-color: #151d32;
  background-image:  url("http://timireland.uk/images/back.gif");
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
  font-size: 60%;
}
.container_portfolio {
  width: 96rem;
  margin: 2rem auto;
}
.h1-portfolio {
  font-weight: 400;
  text-align: center;
  font-size: 3em;
}
/* alternate nav bar - problems with hamburger on portfolio page */
.nav-nohamburger {
  margin: auto;
  text-align: center;
}
.ul-nav {
  overflow: auto;
    list-style-type: none;
    white-space: nowrap;
    display: block;
}
.li-nav {
  height: 25px;
  margin-right: auto;
  display: inline-block;
  border-right: 1px solid #aaa;
  font-size: 1.7em;
  padding: 0 20px;
}
.li-nav:last-child {
  border-right: none;
}
.hr-portfolio {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(236, 113, 12, 0.26);
}
.gallery-item {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all .3s;
  overflow: hidden;
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(150px, auto);
}

.portfolio_image { 
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.portfolio_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-item:hover .portfolio_image {
  filter: grayscale(1);
}

.gallery-item:hover .portfolio_middle {
  opacity: 1;
}

.gallery-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.portfolio_text {
  color: white;
  font-size: 2.5em;
  padding: 16px 32px;
}

.body-cv {
  margin: 0;
  padding: 0;
  background-color: #151d32;
  background-image:  url("http://timireland.uk/images/back.gif");  
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
}
.container_cv {

}
.body-contact {
  margin: 0;
  padding: 0;
  background-color: #151d32;
  background-image:  url("http://timireland.uk/images/back.gif");  
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
}
.container_contact {

}
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 * https://codepen.io/erikterwan/details/EVzeRP 
*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: aqua;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #666666;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #151D32;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 1.2em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
    header h1 {
      color: #BFBFBF;
      font-family: 'Big Shoulders Text', cursive;
      letter-spacing: 0.1em;
    }
/* link/url styling */
a {
  text-decoration: none;
  color: aqua;
  text-transform: lowercase;
  transition: all 0.5s ease;
}

a:hover {
  color: #666;
}

.active a {
  font-weight: bold;
  color: aquamarine;
}
header {
    color: #BFBFBF;
    font-family: 'Big Shoulders Text', cursive;
    justify-content: center;
    letter-spacing: 0.1em;
}
.center {
  text-align: center;
}
/*end */
/* class for profile pictures */
.profile {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    margin: auto;
}
/* week 2 - image grayscale on hover */
.profile:hover {
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
}
/* end */
nav {
    margin-left: auto;
    margin-right: auto;
 }
  a {
    text-decoration: none;
    color: aqua;
    text-transform: lowercase;
    transition: all 0.5s ease;
  }
 
  a:hover {
    color: #666;
  }

  .active {
    font-weight: bold;
    color: aquamarine;
  }
  /* End W5 code block */
  .index_main {
    text-align: center;
}

.footer {
  text-align: center;  
}/* media queries - currentlt just change font sizes dependant on screen size */
@media (min-width:320px) {
  .body-index, .body-contact, .body-cv {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.2em;
  }
}
@media (min-width:500px) {
  .body-index, .body-contact, .body-cv {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
}
@media (min-width:900px){
 .body-index, .body-contact, .body-cv {
   font-size: 1.1em;
 }
  h1 {
    font-size: 1.7em;
  }
}
/* media query from CSS Grid class challenge, modified 'slightly' */
@media (max-width: 400px) {
  .gallery-item, .body-portfolio {
      max-width: 10%;
      grid-column: 1;
      text-align: left;
  }
  div.container_portfolio, h1.h1-portfolio {
      text-align: left;
      margin-left: 2em;
  }
  nav.nav-nohamburger {
    text-align: left;
    font-size: 0.9em;
  }

  div.portfolio_text {
      font-size: 1.5em;
  }
  .footer {
    text-align: left;
  }
}
@media (max-width:799px) and (min-width:401px) {
  .gallery-item, .body-portfolio {
    max-width: 20%;
    grid-column: 2;
    text-align: left;
  }
  div.container_portfolio, h1.h1-portfolio {
    text-align: left;
    margin-left: 2em;
}
nav.nav-nohamburger {
  text-align: left;
  font-size: 0.9em;
}

div.portfolio_text {
    font-size: 2.5em;
}
.footer {
  text-align: left;
}
}
@media (min-width:800px) and (max-width:1000px){
  .gallery-item, .body-portfolio {
    max-width: 40%;
    grid-column: 2;
    text-align: left;
  }
  div.container_portfolio, h1.h1-portfolio {
    text-align: left;
    margin-left: 2em;
}
nav.nav-nohamburger {
  text-align: left;
  font-size: 0.9em;
}

div.portfolio_text {
    font-size: 2.5em;
}
.footer {
  text-align: left;
}
}