/* reused from assignment 0 */
body {
    background-color: #151D32;
    
}
/*end*/
/* set font colours, sizing, alignment */
.container {
    color: #B9B9B9;
    font-size: 1em; 
    background-image: url(../images/homelab_2.png);
    text-align: center;
}
header {
    justify-content: center;
}
header:h1 {
    font-size: 1.5em;
    color: #BFBFBF;
}/*end */
/* class for profile pictures */
.profile {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    margin: auto;
}
/* week 2 - image grayscale on hover */
.profile:hover {
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
}
/* end */
section {
    display: block;
    align-content: center;
}
.landing-page {
    font-family: Helvetica, sans-serif;
}
/*nav{

}
ul {
}
li {
}
footer {

}*/