@media (min-width:320px) {
  /* https://cssgrid-generator.netlify.com/ */
  .container_index { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 2px; 
    color: #B9B9B9;
    font-size: 0.8em;
    text-align: center;
    }
    .index_row_1 { grid-area: 1 / 1 / 2 / 2; } 
    .index_row_2 { grid-area: 2 / 1 / 3 / 2; } 
    .index_row_3 { grid-area: 3 / 1 / 4 / 2; } 
    .index_row_4 { grid-area: 4 / 1 / 5 / 2; } 
    .index_row_5 { grid-area: 5 / 1 / 6 / 2; } 
    
    /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #151d32;
  color: #B9B9B9;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;

}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: aqua;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #666666;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #151D32;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 1em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
    header h1 {
      font-size: 1.2em;
      color: #BFBFBF;
      font-family: 'Big Shoulders Text', cursive;
      letter-spacing: 0.1em;
    }
/* link/url styling */
a {
  text-decoration: none;
  color: aqua;
  text-transform: lowercase;
  transition: all 0.5s ease;
}

a:hover {
  color: #666;
}

.active a {
  font-weight: bold;
  color: aquamarine;
}
}
@media (min-width:600px) {

}
@media (min-width:900px) {

}
header {
    font-size: 1.7em;
    color: #BFBFBF;
    font-family: 'Big Shoulders Text', cursive;
    justify-content: center;
    letter-spacing: 0.1em;
}
/*end */
/* class for profile pictures */
.profile {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    margin: auto;
}
/* week 2 - image grayscale on hover */
.profile:hover {
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
}
/* end */
nav {
    margin-left: auto;
    margin-right: auto;
 }
/* fix for nav randomly splitting over two lines from https://css-snippets.com/simple-horizontal-navigation/ */
 /* ul {
    overflow: auto;
    list-style-type: none;
    white-space: nowrap;
    display: flex;
  }

  li {
    height: 30px;
    margin-right: auto;
    display: inline-flex;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }*/
 /*end */
 /* li:last-child {
    border-right: none;
  }*/
 /* link/url styling */
  a {
    text-decoration: none;
    color: aqua;
    text-transform: lowercase;
    transition: all 0.5s ease;
  }
 
  a:hover {
    color: #666;
  }

  .active {
    font-weight: bold;
    color: aquamarine;
  }
  /* End W5 code block */
  .index_main {
    justify-content: center;
}
p {
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 0.1em;
}
/*footer {

}*/