@media (min-width:320px) {
    }
@media (min-width:600px) {
}
@media (min-width:900px) {
}
/* reused from assignment 0 */
body {
    background-color: #151D32;
    width: 100%;
    height: 100%;
    
}
/*end*/
/* set font colours, sizing, alignment */
.container {
    color: #B9B9B9;
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
header {
    justify-content: center;

}
header {
    font-size: 1.7em;
    color: #BFBFBF;
    font-family: Helvetica, Verdana, sans-serif;
}/*end */
/* class for profile pictures */
.profile {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    margin: auto;
    display: flex;
    order: 3;
}
/* week 2 - image grayscale on hover */
.profile:hover {
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
}
/* end */
nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    order: 1;
 }
/* fix for nav randomly splitting over two lines from https://css-snippets.com/simple-horizontal-navigation/ */
  ul {
    overflow: auto;
    list-style-type: none;
    white-space: nowrap;
    display: flex;
  }

  li {
    height: 30px;
    margin-right: auto;
    display: inline-flex;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
 /*end */
  li:last-child {
    border-right: none;
  }
 /* link/url styling */
  li a {
    text-decoration: none;
    color: aqua;
    font: 1.5em Helvetica, Verdana, sans-serif;
    text-transform: lowercase;
    transition: all 0.5s ease;
  }
 
  li a:hover {
    color: #666;
  }

  li.active a {
    font-weight: bold;
    color: aquamarine;
  }
  /* End W5 code block */
  .main {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    order: 2;
}
/*footer {

}*/